body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#E1EEDC;
    font-family: "proxima-nova-alt-ext-cond",sans-serif;
    color:#1467A1;
}

h1,h2,h3,h4,h5,h6,p {font-family: "proxima-nova-alt-ext-cond",sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-primary {
  color: #1467A1;
  background-color: #5BB693;
  border-color: #1467A1;
}

.btn-default {
  color: #1467A1;
  background-color: #DDD584;
  border-color: #1467A1;
}

.list-group-item {
   /* background-color: #A5A5A5;*/
    border: 1px solid transparent;

    /* default fallback */
background: rgb(128, 128, 128) transparent;
/* nice browsers */
background-color: rgba(128, 128, 128, 0.4);
/* IE 6/7 */
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF);
/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#CCFFFFFF)";
}

.panel-default > .panel-heading {
    color: #DDD584;
    background-color: #1467A1;
    border-color: #1467A1;
}
