<table class="table table-condensed">
    <thead>
        <tr>
            <th>Which Utility Services do you want manage?</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>
                SF Water
            </td>

        </tr>
        <tr>
            <td>2</td>
            <td>PG &amp; E</td>

        </tr>
        <tr>
            <td>3</td>
            <td>
                Sewege
                <span class="label label-primary">Added</span>
            </td>

        </tr>
        <tr>
            <td>3</td>
            <td>Other Utility Service</td>
        </tr>
    </tbody>
</table>
