@{
    Layout = "~/Views/Welcome/_LayoutWelcome.cshtml";
}


    <h1>@ViewBag.ValueProposition</h1>

    @Html.ActionLink("Get started", "Register", "Account", null, new { @class ="btn btn-lg btn-block btn-primary" })
   
