@{
    Layout = "~/Views/Welcome/_LayoutWelcome.cshtml";
}
    <h1>@ViewBag.ValueProposition</h1>
    @{
        var ButtonText = (string)ViewBag.NextButtonValue;
        var WelcomeStep = (int)ViewBag.WelcomeStep;
    }

    @Html.ActionLink(ButtonText, "Step", "Welcome", new { step = WelcomeStep }, new { @class = "btn btn-lg btn-block btn-primary" })
    @Html.ActionLink("Skip", "Register", "Account", null, new { @class = "btn btn-lg btn-block btn-default" })





