@{
    Layout = "~/Views/Welcome/_LayoutWelcome.cshtml";
}

<div class="container">
    <h1>@ViewBag.ValueProposition[0]</h1>
    <button class="btn btn-lg btn-block btn-primary">@ViewBag.NextButtonValue[0]</button>
    <button class="btn btn-lg btn-block btn-default">Skip</button>
</div>




